<div class=" bg-white rounded">
        
    <div  class="border-bottom border-gray pb-2 mb-3">Comments (<%= @story.comments.count %>)</div>

    <% @story.comments.each do |comment| %>
    <div class="mb-4 comment">
        <div class="d-block text-gray-dark text-muted commentator">
            <%=comment.commentator.name%>:
        </div>

        <div class=" text-muted "><%=comment.comment%></div>
    </div>
    <% end %>

</div>

<% if !@story.status.eql?('approved') && !@story.status.eql?('published') && !@story.status.eql?('archived') %>

    <% if @story.body.nil? || @story.body.eql?('') || @story.status.eql?('for_review') || @story.status.eql?('in_review') %>
    <div class="row">
        <div class="col-md-12 mb-3">

            <%= form_tag root_url + 'stories/' + @story.id.to_s + '/comment', id: 'comment', class: 'needs-validation', autocomplete: 'off' do |form| %>    
            
                <textarea id="comment" name="comment" class="form-control" placeholder="Write a comment..." ></textarea>

                <div class="invalid-feedback">
                Please enter your shipping address.
                </div>

            <% end %>

        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6">
        </div>

        <div class="col-md-4">
        </div>

        <div class="col-md-2">
            <button class="btn btn-primary btn-lg btn-block" type="submit" form="comment">Post</button>
        </div>
    </div>

    <% end %>
<% end %>