
<% if !current_user.nil? %>

<footer class="blog-footer text-muted">
  <div class="container">

    <p>Powered by Person Media &copy;</p>

    <% for i in @current_user.methods do  %>
    <%# <%=i%>
    <% end  %>
  </div>
</footer>

<% end %>