<div class="col-md-3 mb-3">

    <%= form_tag root_url + 'stories/' + @story.id.to_s + '/status', id: 'for_review', class: 'needs-validation', autocomplete: 'off' do |form| %>    

        <%= hidden_field_tag :status, 'for_review', id: 'status', class: 'form-control' %>

        <button class="btn btn-warning btn-lg btn-block" type="submit" form="for_review">Request Review</button>

    <% end %>

</div>

<div class="col-md-3 mb-3">
</div>

